<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturer.AfterTakeAttendance</servlet-name>
        <servlet-class>controller.lecturer.AfterTakeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturer.TakeAttendance</servlet-name>
        <servlet-class>controller.lecturer.TakeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturer.Timetable</servlet-name>
        <servlet-class>controller.lecturer.Timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturer.ViewAttendanceReport</servlet-name>
        <servlet-class>controller.lecturer.ViewAttendanceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student.AttendanceReport</servlet-name>
        <servlet-class>controller.student.AttendanceReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student.TimetableStuController</servlet-name>
        <servlet-class>controller.student.TimetableStuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturer.attendance.addAttendance.jsp</servlet-name>
        <jsp-file>/view/lecturer/attendance/addAttendance.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturer.AfterTakeAttendance</servlet-name>
        <url-pattern>/lecturer/takeattendance/after</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturer.TakeAttendance</servlet-name>
        <url-pattern>/lecturer/takeattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturer.Timetable</servlet-name>
        <url-pattern>/lecturer/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturer.ViewAttendanceReport</servlet-name>
        <url-pattern>/lecturer/viewattendancereport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student.AttendanceReport</servlet-name>
        <url-pattern>/student/attendancereport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student.TimetableStuController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturer.attendance.addAttendance.jsp</servlet-name>
        <url-pattern>/lecturer/addAttendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
