<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>View Attendence for student</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .table_head_row {
                background-color: #36aed1;
            }
        </style>
    </head>
    <body>
        <h2>FPT University Academic Portal</h2>
        <div style = "display: flex; background-color: #cccccc">
            <a href="url">Home</a>
            <p style="margin: 0px"> | View Schedule</p>
            <a href ="" style="">Log out</a>
        </div>
        <h2>View Attendence for</h2>
        <div class="container">
            <form>
                <div class="col-md-12" style="display: flex">
                    <table>
                        <td>
                            <table>
                                <thead>
                                    <tr class="table_head_row">
                                        <th>CAMPUS/PROGRAM</th>
                                        <th>TERM</td>
                                        <th>COURSE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <td>    
                                    <table>
                                        <tr><td>FU-HL</td></tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <div>
                                            <tr><td><a href="">Summer 2017</td></tr></a>
                                            <tr><td><a href="">Fall 2017</a></td></tr>
                                            <tr><td><a href="">Spring 2018</a></td></tr>
                                            <tr><td><a href="">Summer 2018</a></td></tr>
                                            <tr><td><a href="">Fall 2018</a></td></tr>
                                            <tr><td><a href="">Spring 2019</a></td></tr>
                                            <tr><td><a href="">Summer 2019</a></td></tr>
                                            <tr><td><a href="">Fall 2019</a></td></tr>
                                            <tr><td><a href="">Spring 2020</a></td></tr>
                                            <tr><td><a href="">Summer 2020</a></td></tr>
                                            <tr><td><a href="">Fall 2020</a></td></tr>
                                            <tr><td><a href="">Spring 2021</a></td></tr>
                                            <tr><td><a href="">Summer 2021</a></td></tr>
                                            <tr><td><a href="">Fall 2021</a></td></tr>
                                            <tr><td><a href="">Spring 2022</a></td></tr>
                                            <tr><td><a href="">Summer 2022</a></td></tr>
                                            <tr><td><a href="">Fall 2022</a></td></tr>

                                        </div>
                                    </table>
                                </td>
                                <td>
                                    <div>
                                        <table>
                                            <tbody>
                                                <tr><td><b>Java Web Application Development(PRJ301)(SE1645,start 05/09/2022)</b></td></tr>
                                                <tr><td><a>Statistics and Probability(MAS291)</a>(SE1645,start 05/09/2022)</td></tr>
                                                <tr><td><a>Elementary Japanese 1-A1.2(JPD123)</a>(SE1645,start 06/09/2022)</td></tr>
                                                <tr><td><a>Introduction to Software Engineering(SWE201c)</a>(SE1645,start 17/09/2022)</td></tr>
                                                <tr><td><a>Internet of Things(IOT102)</a>(SE1645,start 10/10/2022)</td></tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </td>

                                </tbody>
                            </table>
                        </td>

                        <td>
                            <table>
                                <thead>
                                    <tr class="table_head_row">
                                        <td>NO</td>
                                        <td>DATE</td>
                                        <td>SLOT</td>
                                        <td>ROOM</td>
                                        <td>LECTURE</td>
                                        <td>GROUP NAME</td>
                                        <td>ATTENDENCE STATUS</td>
                                        <td>LECTURE COMMENT</td>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><span>Monday 05/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><span>Wednesday 07/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><span>Friday 09/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><span>Monday 12/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><span>Wednesday 14/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td><span>Friday 16/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td><span>Monday 19/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td><span>Wednesday 21/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td><span>Friday 23/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td><span>Monday 26/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td><span>Wednesday 28/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td><span>Friday 30/09/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td><span>Monday 03/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td><span>Wednesday 05/10/2022	</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td><span>Friday 07/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td><span>Monday 10/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td><span>Wednesday 12/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font color="green">Present</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td><span>Friday 14/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td><span>Saturday 15/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td><span>Saturday 15/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td><span>Saturday 15/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td><span>Monday 17/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td><span>Wednesday 19/10/2022	</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td><span>Friday 21/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td><span>Monday 31/10/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td><span>Wednesday 02/11/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td><span>Friday 04/11/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td><span>Monday 07/11/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td><span>Wednesday 09/11/2022</span></td>
                                        <td><span>5_(14:30-16:00)</span></td>
                                        <td>DE-C203</td>
                                        <td>SonNT5</td>
                                        <td>SE1645</td>
                                        <td><font>Future</font></td>
                                        <td></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </td>
                    </table> 
                </div>
            </form>
        </div>
    </body>
</html>
