<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Check Attend</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div>
            <h2>Single Activity Attendance</h2>
            <p>
                Attendance for <b>PRJ301</b> with Lecturer <b>sonnt</b> at Slot <b>5</b> on in Room <b>DE203</b> at FU-HL
            </p>
            <div>
                <form action="">
                    <table class="table" style="width: 100%;">
                        <thead>
                            <tr style="background-color: #6b90da;">
                                <th>NO</th>
                                <th>GROUP</th>
                                <th>CODE</th>
                                <th>NAME</th>
                                <th>IMAGE</th>
                                <th>STATUS</th>
                                <th>COMMENT</th>
                                <th>TAKER</th>
                                <th>RECORDTIME</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>1</td>
                                <td>SE1645</td>
                                <td>HE150878</td>
                                <td>Nguyễn Đình Trường</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE150321" name="1">Present<input type="radio" value="HE150321" name="1">Absent</td>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>SE1645</td>
                                <td>HE151247</td>
                                <td>Nguyễn Ngọc Đức</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE161270" name="2">Present<input type="radio" value="" name="2">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>SE1645</td>
                                <td>HE153444</td>
                                <td>Lê Ngọc Sơn</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE163452" name="3">Present<input type="radio" value="" name="3">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>


                            <tr>
                                <td>4</td>
                                <td>SE1645</td>
                                <td>HE160919</td>
                                <td>Nguyễn Trường Huy</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE158462" name="4">Present<input type="radio" value="" name="4">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>5</td>
                                <td>SE1645</td>
                                <td>HE161488</td>
                                <td>Tạ Văn Chỉnh</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE154632" name="5">Present<input type="radio" value="" name="5">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>6</td>
                                <td>SE1645</td>
                                <td>HE161491</td>
                                <td>Vũ Đức Phong</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE146246" name="6">Present<input type="radio" value="" name="6">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>7</td>
                                <td>SE1645</td>
                                <td>HE161515</td>
                                <td>Nguyễn Văn Vượng</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE158493" name="7">Present<input type="radio" value="" name="7">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>SE1645</td>
                                <td>HE161578</td>
                                <td>Phạm Đức Anh</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE153583" name="8">Present<input type="radio" value="" name="8">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>9</td>
                                <td>SE1645</td>
                                <td>HE161586</td>
                                <td>Vũ Xuân Trường</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE153716" name="9">Present<input type="radio" value="" name="9">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>10</td>
                                <td>SE1645</td>
                                <td>HE161624</td>
                                <td>Vũ Văn Hoàng</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE158493" name="10">Present<input type="radio" value="" name="10">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>11</td>
                                <td>SE1645</td>
                                <td>HE161651</td>
                                <td>Kiều Trí Quyền</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE158493" name="11">Present<input type="radio" value="" name="11">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>12</td>
                                <td>SE1645</td>
                                <td>HE161657</td>
                                <td>Lê Ngọc Tuấn Minh</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE160250" name="12">Present<input type="radio" value="" name="12">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>13</td>
                                <td>SE1645</td>
                                <td>HE161693</td>
                                <td>Phạm Xuân Nam</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE158493" name="13">Present<input type="radio" value="" name="13">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>14</td>
                                <td>SE1645</td>
                                <td>HE161703</td>
                                <td>Nguyễn Hải Đăng</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE160384" name="14">Present<input type="radio" value="" name="14">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>15</td>
                                <td>SE1645</td>
                                <td>HE161766</td>
                                <td>Nguyễn Tố Anh</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE160385" name="15">Present<input type="radio" value="" name="15">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>16</td>
                                <td>SE1645</td>
                                <td>HE161786</td>
                                <td>Tạ Văn Bách</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE151136" name="16">Present<input type="radio" value="" name="16">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>17</td>
                                <td>SE1645</td>
                                <td>HE161864</td>
                                <td>Đỗ Tiến Thành</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE151313" name="17">Present<input type="radio" value="" name="17">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>18</td>
                                <td>SE1645</td>
                                <td>HE161893</td>
                                <td>Chử Hữu Thành</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE155672" name="18">Present<input type="radio" value="" name="18">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>19</td>
                                <td>SE1645</td>
                                <td>HE161925</td>
                                <td>Trần Đình Lực</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE142342" name="19">Present<input type="radio" value="" name="19">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>20</td>
                                <td>SE1645</td>
                                <td>HE163314</td>
                                <td>Phạm Anh Thương</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE143232" name="20">Present<input type="radio" value="" name="20">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>21</td>
                                <td>SE1645</td>
                                <td>HE163672</td>
                                <td>Nguyễn Thị Hải Nhi</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE150138" name="21">Present<input type="radio" value="" name="21">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>22</td>
                                <td>SE1645</td>
                                <td>HE163676</td>
                                <td>Lê Trung Anh</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE150224" name="22">Present<input type="radio" value="" name="22">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>23</td>
                                <td>SE1645</td>
                                <td>HE163810</td>
                                <td>Lê Trần Tiến Đông</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE150333" name="23">Present<input type="radio" value="" name="23">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>24</td>
                                <td>SE1645</td>
                                <td>HE163825</td>
                                <td>Nguyễn Tiến Quân</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE150375" name="24">Present<input type="radio" value="" name="24">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                            <tr>
                                <td>25</td>
                                <td>SE1645</td>
                                <td>HE163825</td>
                                <td>Phạm Công Chí</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE143552" name="25">Present<input type="radio" value="" name="25">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>
                            
                             <tr>
                                <td>26</td>
                                <td>SE1645</td>
                                <td>HE163830</td>
                                <td>Cao Thế Trung</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE143552" name="26">Present<input type="radio" value="" name="26">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>
                            
                             <tr>
                                <td>27</td>
                                <td>SE1645</td>
                                <td>HE163940</td>
                                <td>Đỗ Duy Mạnh</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE143552" name="27">Present<input type="radio" value="" name="27">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                             </tr><!-- comment -->
                             
                             
                              <tr>
                                <td>28</td>
                                <td>SE1645</td>
                                <td>HE163953</td>
                                <td>Vũ Minh Hiển</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE143552" name="28">Present<input type="radio" value="" name="28">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>
                            
                             <tr>
                                <td>29</td>
                                <td>SE1645</td>
                                <td>SE05646</td>
                                <td>Lý Quang Minh</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE143552" name="29">Present<input type="radio" value="" name="29">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                             </tr><!-- comment -->
                             
                              <tr>
                                <td>30</td>
                                <td>SE1645</td>
                                <td>SE05973</td>
                                <td>Phạm Văn Mạnh</td>
                                <td><img src="" alt="anh sinh vien"></td>
                                <td><input type="radio" value="HE143552" name="30">Present<input type="radio" value="" name="30">Absent</d>
                                <td></td>
                                <td>sonnt</td>    
                                <td></td>
                            </tr>

                        
                        </tbody>
                    </table>
                    <input type="submit" value="Submit">
                </form>

            </div>
        </div>
    </body>

</html>